[bumpversion]
current_version = 0.11.4
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:package.json]

[bumpversion:file:package-lock.json]

[bumpversion:file:pyproject.toml]

[bumpversion:file:docs/spec/index.md]

[bumpversion:file:docs/spec/conformance.md]

[bumpversion:file:docs/schema/index.md]

[bumpversion:file:docs/index.md]

[bumpversion:file:README.md]
